<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-post-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="title" id="title" placeholder="title" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="mensagem" id="mensagem-name" placeholder="Mensagem" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="key" id="key" placeholder="key" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" name="user_id" id="user_id" placeholder="user_id" required>
                </div>
                <div class="form-group col-md-6">
                    <select id="tema" name="tema" class="form-control" required>
                        <option selected disabled>Choose tema</option>
                        <option>Entretenimento</option>
                        <option>Gastronomia</option>
                        <option>Tecnologia</option>
                        <option>Saude</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="post-img"><b>Post Image</b></label><br>
                    <input type="file" name="image" id="post-img" class="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Post</button>
        </form>
    </div>
</div>
</body>
</html>