<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (post) { %>
        <form class="add-post-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="<%= post.title %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="mensagem">Mensagem</label>
                    <input type="text" class="form-control" name="mensagem" id="mensagem" value="<%= post.mensagem %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="key">Keyword</label>
                    <input type="text" class="form-control" name="key" id="key" value="<%= post.tag %>" required disabled title="Postname cannot be edited.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="user_id">User Id</label>
                    <input type="number" class="form-control" name="user_id" id="user_id" placeholder="user_id" value="<%= post.user_id %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="tema">tema</label>
                    <select id="tema" name="tema" class="form-control" required>
                        <option selected disabled>Choose tema</option>
                        <option>Entretenimento</option>
                        <option>Gastronomia</option>
                        <option>Tecnologia</option>
                        <option>Saude</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Post</button>
        </form>
    <% } else { %>
        <p class="text-center">Post Not Found. Go <a href="/addP">here</a> to add post.</p>
    <% } %>
</div>
</div>
</body>
</html>