<% include partials/header.ejs %>
</div>
<div align="center">
  <br>
  <p>Welcome to our blog, here, have a free pet!</p>
  <p>
    <pre>

                                _                        
                                \`*-.                    
                                 )  _`-.                 
                                .  : `. .                
                                : _   '  \               
                                ; *` _.   `*-._          
                                `-.-'          `-.       
                                  ;       `       `.     
                                  :.       .        \    
                                  . \  .   :   .-'   .   
                                  '  `+.;  ;  '      :   
                                  :  '  |    ;       ;-. 
                                  ; '   : :`-:     _.`* ;
                         [bug] .*' /  .*' ; .*`- +'  `*' 
                               `*-*   `*-*  `*-*'
    </pre>

</p>
</div>
</body>
</html>