<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (users.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Number</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user, users) => { %>
                        <tr>
                            <th scope="row"><%= user.id %></th>
                            <td><img src="/assets/img/<%= user.image %>" class="rounded-circle user-img" alt=""></td>
                            <td><%= user.first_name %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.position %></td>
                            <td><%= user.number %></td>
                            <td>@<%= user.user_name %></td>
                            <td>
                                <a href="/edit/<%= user.id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No users found. Go <a href="/addU" >here</a> to add users.</p>
        <% } %>
    </div>
</div>
</body>
</html>