<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (posts.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Título</th>
                        <th scope="col">Mensagem</th>
                        <th scope="col">Tema</th>
                        <th scope="col">User Id</th>
                        <th scope="col">KeyWord</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach((post, posts) => { %>
                        <tr>
                            <th scope="row"><%= post.id %></th>
                            <td><img src="/assets/img/<%= post.image %>" class="rounded-circle post-img" alt=""></td>
                            <td><%= post.title %></td>
                            <td><%= post.mensagem %></td>
                            <td><%= post.tema %></td>
                            <td><%= post.user_id %></td>
                            <td>@<%= post.tag %></td>
                            <td>
                                <a href="/editP/<%= post.id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/deleteP/<%= post.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No posts found. Go <a href="/addP" >here</a> to add post.</p>
        <% } %>
    </div>
</div>
</body>
</html>